* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#h1wd {
    background: linear-gradient(45deg, green, purple);
    color: white;
    justify-content: center;
}

#search-bar {
    width: 20%;
}

.pl-2 {
    position: relative;
    margin-left: 5px;
    padding: 5px;
    left: 10px;
    display: flex;
    justify-content: center;
}

#searchbar {
    position: relative;
    left: 10px;
}

#currWeather {
    border: 5px black;
    border-radius: 5px;
}